.wrapper {
  width: 90%;
  margin: 50px auto;
  background: rgb(33, 37, 41);
  display: grid;
  grid-template-columns: repeat(3, fit-content(100%));
  justify-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.picture-wrapper {
  width: 60%;
}
.picture-wrapper img {
  width: 100%;
}
.picture-wrapper a {
  display: block;
}
@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: 50% 50%;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
  }
  .picture-wrapper {
    width: 90%;
  }
  /* .picture-wrapper:nth-child(3) {
    order: 2;
  }
  .picture-wrapper:nth-child(6) {
    order: 3;
  } */
}
