body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}
.header-content {
  /* max-width: 80%;
  margin: 0 auto; */
  padding-top: 2.938rem;
  padding-bottom: 2.25rem;
  display: flex;
  justify-content: space-around;
}
.logo-wrapper,
.h-icons-wrapper {
  /* width: 50%; */
  display: flex;
  align-items: center;
}
.h-icons-wrapper {
  /* justify-content: flex-end; */
  column-gap: 1.063rem;
}
.header-logo img {
  width: 70%;
}
a {
  display: block;
}
.header-fb img,
.header-tw img {
  width: 100%;
}
.sctn-first {
  background-color: #fac960;
}
.sctn-first .sctn-wrapper {
  padding-top: 6.375rem;
  padding-bottom: 6.688rem;
  row-gap: 2.5rem;
}
.sctn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading {
  text-align: center;
}
h1 {
  font-size: 2.75vw;
  font-weight: 400;
  color: rgb(138, 109, 47);
  margin: 0;
}
h2 {
  font-size: 2.688vw;
  font-weight: 400;
  color: rgb(138, 109, 47);
  margin: 0;
}
form {
  display: flex;
  column-gap: 0.375rem;
  flex-wrap: wrap;
}
input {
  padding: 0.75rem 12.125rem 0.75rem 2.25rem;
  font-size: 1.875vw;
  border: 0.063rem solid rgb(255, 255, 255);
  border-radius: 0.125rem 0 0 0.125rem;
}
input:focus {
  outline: 0.063rem solid rgb(168, 134, 61);
}
input::placeholder {
  color: rgb(153, 153, 153);
}
input[type="submit"] {
  padding: 0.75rem 2.125rem 0.75rem 2.5rem;
  background-color: rgb(168, 134, 61);
  color: rgb(255, 255, 255);
  border: 0.063rem solid rgb(168, 134, 61);
  border-radius: 0 0.125rem 0.125rem 0;
}
input[type="submit"]:focus {
  outline: 0.063rem solid rgb(255, 255, 255);
}
.sctn-second {
  background-color: #f2f2f2;
}
.sctn-second .sctn-wrapper {
  padding-top: 4.813rem;
  padding-bottom: 5.063rem;
  row-gap: 2rem;
}
.sctn-second h2,
.sctn-third h2 {
  color: rgba(0, 0, 0, 0.56);
}
.sctn-second p,
.sctn-third p {
  margin: 0;
  width: 37%;
  line-height: 1.5;
  font-size: 1.438vw;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}
.sctn-second .img-wrapper {
  padding-top: 1.5rem;
}
.img-wrapper img {
  width: 100%;
}
.sctn-third {
  background-color: rgb(255, 255, 255);
}
.sctn-third .sctn-wrapper {
  padding-top: 5.813rem;
  padding-bottom: 1.375rem;
  row-gap: 2rem;
}
.sctn-fourth {
  background-color: #fac960;
}
.sctn-fourth .sctn-wrapper {
  padding: 3.625rem;
  padding-bottom: 6.688rem;
  row-gap: 1.938rem;
}
.sctn-fourth h2 {
  font-size: 2.313vw;
  color: rgb(138, 109, 47);
}
.sctn-fourth p {
  font-size: 1.375vw;
  color: rgba(0, 0, 0, 0.4);
}
.sctn-button {
  padding-top: 0.125rem;
}
.sctn-button a {
  padding: 0.2rem 1.625rem 0.11rem 1.563rem;
  border: 0.063rem solid rgb(117, 134, 150);
  border-radius: 0.188rem;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-size: 1.063vw;
  color: rgb(153, 153, 153);
}
.footer {
  background-color: #f2f2f2;
}
.footer-content {
  padding: 5.125rem 0 5.063rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.footer-email img {
  width: 145%;
}
.footer-logo img,
.footer-fb img,
.footer-tw img {
  width: 100%;
}
.f-logo-wrapper {
  display: flex;
  justify-content: center;
}
.f-icons-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  column-gap: 1.125rem;
}
