body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  background-color: #ffeeee;
}
* {
  box-sizing: border-box;
}
.container {
  width: 916px;
  margin: 0 auto;
  padding: 18px 23px 18px 25px;
  background-color: rgb(255, 255, 255);
}
h1 {
  font-size: 40px;
  text-align: center;
}
.planet {
  width: 868px;
  display: inline-flex;
  flex-direction: row;
}
.planet.center-image {
  justify-content: center;
}
.planet.right-image {
  justify-content: flex-end;
}
h2 {
  font-size: 32px;
}
.text-right {
  text-align: right;
}
.text-center,
.p-center {
  text-align: center;
}
span {
  color: rgb(246, 238, 6);
  background-color: #0d0d66;
}
span:hover {
  color: #fff;
  background-color: #000;
}
a.target-link {
  display: block;
  width: fit-content;
  margin: 10px auto 0px;
}
a.target-link:hover {
  transform: scale(1.5);
  background-color: transparent;
}
a {
  display: inline-block;
  width: fit-content;
  transition: transform 0.2s;
}
a:visited {
  color: rgb(0 160 98);
}
a:hover {
  background-color: rgb(218 210 242 / 72%);
  color: rgb(255 4 4);
  transform: scale(1.5);
}
#sun:hover {
  background-color: rgb(0 0 0 / 72%);
  color: #d3f10c;
  transform: scale(1.5);
}
